---
layout: base.njk
---
<h1 class="text-3xl font-bold mb-3">My Blog</h1>
{% for post in collections.posts %}
  <a href="{{ post.url }}">
    <div class="flex flex-row gap-2 mb-3">
      {%
        myImage post.data.image, {
          css: "w-32 h-32 object-cover",
          alt: "what ever you want this to be",
          srcDir: "./src"
        }
      %}
      <h2 class="underline">{{ post.data.title }}</h2>
    </div></a>
{% endfor %}
